* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
}

/* BURGER MENU */

/* Style the navigation menu */
nav {
  overflow: hidden;
  background-color: #cf5d5d;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
nav #myLinks {
  display: none;
}

/* Style navigation menu links */
nav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
nav a.icon {
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.fa {
  color: white;
}

/* Add a grey background color on mouse-over */
nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04aa6d;
  color: white;
}

/* BURGER MENU */

/* CONTACT */

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");

:root {
  --color-first: #000000;
  --color-second: #f0f0f0;
  --color-whithe: #fff;
  --color-succes: #2ecc71;
  --color-error: #e74c3c;
}

.boody {
  background: var(--color-first);
  font-family: "Open sabs" sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container {
  background: var(--color-whithe);
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  width: 400px;
  max-width: 100%;
}

.header {
  background: #f7f7f7;
  border-bottom: 1px solid var(--color-second);
  padding: 20px 40px;
}

.header h2 {
  margin: 0;
  text-align: center;
  font-style: italic;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid var(--color-second);
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  height: 40px;
  padding-left: 10px;
}

.form-control i {
  position: absolute;
  top: 36px;
  right: 10px;
  visibility: hidden;
}

.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form button {
  background: var(--color-first);
  border: 2px solid var(--color-first);
  color: #f7f7f7;
  display: block;
  font-family: inherit;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

.form-control.succes input {
  border-color: var(--color-succes);
}

.form-control.error input {
  border-color: var(--color-error);
}

.form-control.succes i.fa-check-circle {
  color: var(--color-succes);
  visibility: visible;
}

.form-control.error i.fa-exclamation {
  color: var(--color-error);
  visibility: visible;
}

.form-control.error small {
  color: var(--color-error);
  visibility: visible;
}

@media screen and (max-width: 680px) {
  nav .onglets {
    margin-left: 8px;
    margin-bottom: 20px;
  }
}

/* CONTACT */

/*nouveau css*/
body {
  background-color: lightgoldenrodyellow;
}

header {
  background-color: #f76c6c;
}

.actu {
  margin-top: 4rem;
  margin-bottom: 6rem;
}
.actu h2 {
  margin-bottom: 2rem;
}
main {
  width: 100%;
  padding: 16px;
  margin-left: 36px;
}

.imgWCS {
  max-width: 60%;
  height: auto;
}
/*nouveau css*/
