* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: lightgoldenrodyellow;
  font-family: "Varela", sans-serif;
}
a {
  display: none;
}

header {
  background-color: #f76c6c;
  height: 70px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.356), 0 0 1rem rgba(0, 0, 0, 0.301);
}
h1 {
  font-size: 1.6em;
  padding: 16px;
  display: flex;
  align-items: center;
}

.actu {
  margin-top: 4rem;
  margin-bottom: 6rem;
}
.actu h2 {
  margin-bottom: 2rem;
  background-color: #f76c6c;
  width: 45%;
  border-radius: 16px;
  padding: 8px;
}
main {
  width: 100%;
  padding: 16px;
  margin-left: 36px;
}

.imgWCS {
  max-width: 60%;
  height: auto;
}
/*nouveau css*/

.resp h2 {
  background-color: #f76c6c;
  width: 63%;
  border-radius: 16px;
  padding: 8px;
}
